@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/public/images/home-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ReactModal__Overlay {
  z-index: 50 !important; /* 모달 오버레이의 z-index를 강제로 설정 */
}
.ReactModal__Content {
  z-index: 50 !important; /* 모달 콘텐츠의 z-index를 강제로 설정 */
}
